<aside class="widget">
    <h3 class="widget-title">友情链接</h3>
    <div class="widget-content">
<ul id='link-list'>
<!-- link begin -->
<li><a href="http://www.258ch.com/">苍海国际</a></li>
<li><a href='http://tieba.baidu.com/f?kw=%B7%C9%C1%FA'>百度飞龙吧</a></li>
<li><a href='http://tieba.baidu.com/f?kw=%CE%AA%B0%AE%C8%EB%C3%DF'>百度为爱入眠吧</a></li>
<li><a href="http://www.714.hk/">梦殇国际</a></li>
<li><a href="http://cuican.name/">璀璨</a></li>
<li><a href="http://www.jsgblog.com">旧时光博客</a></li>
<li><a href="http://baidu.tiebalu.com/">贴吧录</a></li>
<li><a href="http://papwin.com/">潘岸平的部落格</a></li>
<li><a href='http://fivekuai.com/'>Five贴吧</a></li>
<li><a href="http://www.icebaidu.com">冷熊猫</a></li>
<li><a href="http://www.giuem.com/">Giuem</a></li>
<li><a href="http://www.woaiye.com/">我爱夜</a></li>
<li><a href='http://www.changwei.me/'>昌维</a></li>
<li><a href="http://moelove.info/">MoeLove</a></li>
<li><a href='http://xiaohudie.net/'>小蝴蝶</a></li>
<li><a href='http://xfsauce.com/'>小丰阁</a></li>
<li><a href='https://blog.dangge.moe/'>dangge's blog</a></li>

<!-- -->

<li><a href="http://gaocegege.com/Blog/">高策Blog</a></li>
<li><a href='http://azard.me/blog/'>Azard的博客</a></li>
<li><a href='http://hczhcz.github.io/'>hcz@github.io</a></li>
<li><a href='http://zhangwenli.com/blog/'>羡辙杂俎</a></li>
<li><a href='http://jerryzou.com/'>咀嚼之味</a></li>

<!-- -->

<li><a href="http://www.geekzu.cn/">极客族</a></li>
<li><a href="http://hardrain980.com">骤雨</a></li>
<li><a href='http://www.syana.moe/'>q6q64399's blog</a></li>
<li><a href='http://www.82cat.com/'>不二's blog</a></li>
<li><a href="http://lolil.lofter.com/">庭园</a></li>
<li><a href="http://aikongke.com/">爱控客</a></li>
<li><a href="http://www.sunweihu.com/">墨涩颓废网</a></li>
<li><a href='http://lvycf.com'>HDL's blog</a></li>
<li><a href='http://www.farquer.cn/'>farquer's blog</a></li>
<!-- link end -->
</ul>
    </div>
</aside>