<aside class="widget">
    <h3 class="widget-title">友情链接</h3>
    <div class="widget-content">
<ul id='link-list'>
<!-- link begin -->
<li><a href="http://www.bhxx.net/">北海小学</a></li>
<li><a href="http://blog.bhxx.net/">校园博客</a></li>
<li><a href="http://201604ban.bhxx.net/">我的班级</a></li>
<!-- link end -->
</ul>
    </div>
</aside>